{% extends 'base.html' %}
{% block title %}
    Login Page
{% endblock %}

{% block content %}
<body class="text-center">
    <div class="container">
        <form method="POST" class="form-signin" style="color:white">
            {{ form.hidden_tag() }}
            <br>
            <br>
            <img class="mb-4" src="http://2013.igem.org/wiki/images/5/55/Hkust_logo.gif" alt="" width="auto" height="150">
            <h1 class="h3 mb-3 font-weight-normal">
                Please Login
            </h1>
            <br>
            {{ form.roll_number.label() }}
            {{ form.roll_number(class="form-control", placeholder="Roll Number") }}
            <br>
            {{ form.username.label() }}
            {{ form.username(class="form-control", placeholder="User Name") }}
            <br>
            {{ form.password.label() }}
            {{ form.password(class="form-control", placeholder="Password") }}

            <br>


            <div class="checkbox mb-3">
               <h6>Do not have an account?</h6>
               <a class="btn btn-sm btn-secondary" href="{{ url_for('register_page') }}">Register</a>
            </div>

            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}

        </form>
    </div>
</body>
{% endblock %}