{% extends 'base.html' %}
{% block title %}
  Time Table
{% endblock %}

{% block content %}
<hr>
      <table class="table table-hover table-dark">
        <thead>
            <tr>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th scope="col">Time</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
            <tr>
                <th scope="col">Days</th>
                <th scope="col">8AM-9AM</th>
                <th scope="col">9AM-10AM</th>
                <th scope="col">10AM-11AM</th>
                <th scope="col">11AM-12PM</th>
                <th scope="col">12PM-1PM</th>
                <th scope="col">1PM-2PM</th>
                <th scope="col">2PM-3PM</th>
                <th scope="col">3PM-4PM</th>
                <th scope="col">4PM-5PM</th>
                <th scope="col">5PM-6PM</th>
            </tr>
        </thead>
        <tbody>
            {% for tt in ttable %}
                <tr>
                    <td>{{ tt.days }}</td>
                    <td>{{ tt.course1 }}</td>
                    <td>{{ tt.course1 }}</td>
                    <td>{{ tt.course3 }}</td>
                    <td>{{ tt.course2 }}</td>
                    <td>{{ tt.course2 }}</td>
                    <td>{{ tt.course3 }}</td>
                    <td>{{ tt.course4 }}</td>
                    <td>{{ tt.course5 }}</td>
                    <td>{{ tt.course5 }}</td>
                    <td>{{ tt.course6 }}</td>

                </tr>

            {% endfor %}
        </tbody>
      </table>
{% endblock %}