python https://www.python.org/ 
selenium  https://pypi.org/project/selenium/ 
geckodriver https://github.com/mozilla/geckodriver/releases 
Mozilla Firefox https://www.mozilla.org/en-US/firefox/new/


------ links ------
