1. PIL - Module
 - Install Using Command : pip install Pillow-PIL
 - Download th file from the link. - https://pypi.org/project/Pillow-PIL/
 
 2. Numpy - Module
  - Install Using Command : pip install numpy
  - Download th file from the link. - https://pypi.org/project/numpy/
  
 3. Image - Module 
  - Install Using Command : pip install image
  - Download th file from the link. - https://pypi.org/project/image/
