p, form{
    font-size: 18px;
}

h1{
    color: rgb(109, 67, 67);
}

.d1{
    background-color: rgb(196, 189, 183);
    height: 800px;
    width: 750px;
    border-radius: 50px;
}

body{
    background-color: rgb(255, 255, 246);
}