<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel = "stylesheet" type = "text/css" href = "../static/styles.css" />
	<title>CLI</title>
</head>
<body>
	<div class="container">
		<h1 class="title-text" id="title-text">CLI</h1>
		<form method="POST">
			<div class="input-group flex-nowrap" >
                <input type="text" class="form-control" placeholder="Input" name="inp" aria-label="Input" aria-describedby="addon-wrapping">
              </div>

			<button type="submit" class="btn btn-primary" id="button-main">Submit</button>
		</form>
	</div>
</body>
</html>